@use '../../../styles/overrides/table' as *;
@use '../../../styles/overrides/toggle' as *;
@use '../../../styles/overrides/input' as *;

.acr-input-label{
	opacity:0.5 !important;
	font-size:12px !important;
	font-weight:400 !important;
	margin-top:4px !important;
}