<acrylic-header
  [teamName]="teamName"
  [teamLogo]="teamLogo"
  [tagline]="tagline"
  [primaryColor]="primaryColor"
  [secondaryColor]="secondaryColor">
</acrylic-header>


<div class="content-area">
  <div class="search-section">
 @if (showLocalMusic) {
<h2 class="search-title">Start your <span class="search-title__highlight">search</span> right here</h2>
 }
<acrylic-similarity-search style="padding: 0;" (searched)="onSimilaritySearched()"> </acrylic-similarity-search>


</div>
 @if (showLocalMusic) {
  <acrylic-local-music [countryCode]="countryCode2"></acrylic-local-music>
 }
</div>
