<div class="d-flex w-100">
    <div class="transaction my-documents w-100">
        <div>
            <h4 class="font-size-16 font-weight-600 mb-2">My Documents</h4>
            <div class="document-req-box">
                <h4 class="font-size-16 font-weight-600 mb-2 d-flex align-items-center"><span>Documents Required</span>
                    <span class="ms-2 pill-count border-radius-5">2</span></h4>
                <div>
                    <div
                        class="d-flex align-items-center justify-content-between p-12 border-maroon border-radius-5 mb-2">
                        <div>Tax Document Lorem Ipsum</div>
                        <div><button type="button"
                                class="btn btn-info w-100 font-weight-600 font-size14 px-3">Upload
                                Track</button></div>
                    </div>
                    <div
                        class="d-flex align-items-center justify-content-between p-12 border-maroon border-radius-5 mb-2">
                        <div>Tax Document Lorem Ipsum</div>
                        <div><button type="button"
                                class="btn btn-info w-100 w-100 font-weight-600 font-size14 px-3">Upload
                                Track</button></div>
                    </div>
                    <div class="mt-2"><button type="button" class="btn btn-secondary btn-sm  height-36">Upload
                            Document</button></div>
                </div>
            </div>
            <div class="doc-list p-12 border-radius-5 mb-2 mt-2">
                <div class="d-flex align-items-center justify-content-between ">
                    <div class="font-size14 font-weight-400">Revenue Share Agreement</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="icon-box"><span><img src="assets/images/icons/eye.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/download.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc-list p-12 border-radius-5 mb-2 mt-2">
                <div class="d-flex align-items-center justify-content-between ">
                    <div class="font-size14 font-weight-400">Terms of Service</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="icon-box"><span><img src="assets/images/icons/eye.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/download.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc-list p-12 border-radius-5 mb-2 mt-2">
                <div class="d-flex align-items-center justify-content-between ">
                    <div class="font-size14 font-weight-400">Tax Document Lorem Ipsum</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="icon-box"><span><img src="assets/images/icons/eye.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/download.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/delete.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc-list p-12 border-radius-5 mb-2 mt-2">
                <div class="d-flex align-items-center justify-content-between ">
                    <div class="font-size14 font-weight-400">Tax Document Lorem Ipsum</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <div class="icon-box"><span><img src="assets/images/icons/eye.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/download.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                        <div class="ms-2">
                            <div class="icon-box"><span><img src="assets/images/icons/delete.svg"
                                alt="side_icon" width="22" height="22" /></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>