<section>
    <div class="transaction my-documents acr-box">
        <div>
            <h5 class="fw-semibold mb-2">My Documents</h5>
            <!-- <div class="bg-darkgrey p-3">
                <h5 class="fw-semibold mb-2 d-flex-align-center"><span>Documents Required</span>
                    <span class="ms-2 pill-count radius-5">2</span>
                </h5>
                <div class="d-flex-between p-12 border-maroon radius-5 mb-2">
                    <p class="fw-semibold mb-0">Tax Document Lorem Ipsum</p>
                    <button class="btn btn-lg btn-info fw-semibold">Upload Track</button>
                </div>
                <div class="d-flex-between p-12 border-maroon radius-5 mb-2">
                    <p class="fw-semibold mb-0">Tax Document Lorem Ipsum</p>
                    <button class="btn btn-lg btn-info fw-semibold">Upload Track</button>
                </div>
                <div class="mt-2">
                    <button class="btn btn-lg btn-lightgray light-gray-border">Upload Document</button>
                </div>
            </div> -->
            @for (item of documents; track item) {
                <div class="bg-darkgrey acr-box mb-2 mt-2">
                    <div class="d-flex-between">
                        <p>{{ item.name }}</p>
                        <div class="d-flex">
                            <a [href]="item.document" target="_blank" class="btn btn-sm btn-darkgrey light-gray-border">
                                <img src="assets/images/icons/eye.svg" alt="side_icon" width="16" height="16">
                            </a>
                            <button acrylicFileDownload [appFileDownload]="item.document" class="btn btn-sm btn-darkgrey light-gray-border ms-2">
                                <img src="assets/images/icons/download.svg" alt="side_icon" width="16" height="16">
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>