<div acrylicFileDragDrop class="dropped-image-area p-3 bg-darkgrey rounded-2" (click)="dropzoneClicked($event)"
    (filesChangeEmiter)="onFileChange($event)"
    [ngClass]="{ 'd-flex-center flex-column': !uploadedFiles.length }">
    <div class="text-center cursor-pointer"
        [ngClass]="{ 'd-flex-center flex-column': uploadedFiles.length }">
        <img [ngSrc]="droppedImageIcon" height="32" width="32" />
        <p class="mb-0 pt-2">Drop your Cover Art File here or upload it manually</p>
        <span>JPG 1920px x 1080px</span>
        <input type="file" name="file" class="hidden d-none" (change)="onFileChange($event.target)" #fileUpload
            multiple>
    </div>
    @if (uploadedFiles.length) {
    <div class="wrap-upload-section mt-3">
        @for (item of uploadedFiles; let i = $index; track item) {
        <div class="d-flex justify-content-between align-items-center bg-secondary py-2 px-3 upload-wrapper mb-2 py-2 ignore-upload">
            <div>
                {{ item.name }}
            </div>
            <div>
                <button class="btn btn-sm btn-darkgrey py-2 ignore-upload" (click)="removeUpload(i)">
                    <img [ngSrc]="'assets/images/icons/delete.svg'" class="ignore-upload" height="20" width="20" />
                </button>
            </div>
        </div>
        }
    </div>
    }
</div>