<form [formGroup]="forgotPasswordForm">
    <h1 class="auth-tagline mb-2">Forgot Password?</h1>
    <p class="mb-lg-4 mb-3">
        Enter your username, and we'll send you a link to get back into your account.
    </p>
    <div class="acr-input-label">Username</div>
    <input type="text" [formControlName]="'login'" class="form-control acr-input" placeholder="Enter Username"
        autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">

    <button type="button" class="btn w-100 btn-main fw-bold h-50px" [disabled]="forgotPasswordForm.invalid"
        (click)="forgotPassword()">Send Link
    </button>

    <div class="d-flex-center my-3">
        <div class="line"></div>
        <div class="mx-3">Or</div>
        <div class="line"></div>
    </div>

    <span>Return to</span>
    <a class="a-blue ms-2" (click)="_navigationService.navigateToSignIn();">Sign In</a>
</form>