<section>
    <div class="p-3 bg-secondary radius-5">
        <div class="row flex-column gap-1">
            <div class="col-12">
                <p class="fs-6 mb-2">Synclist Details</p>
            </div>
            <div class="col-lg-6 col-12">
                <ng-container>
                    <input type="text" class="form-control acr-input mb-2" placeholder="Synclist Name">
                </ng-container>
                <div class="input-with-label">
                    <textarea rows="5" class="form-control mb-2"
                        placeholder="Synclist Description" [value]="''">
                    </textarea>
                </div>
                <ng-container>
                    <input type="text" class="form-control acr-input mb-2" placeholder="Short Message">
                </ng-container>
                <acrylic-file-dropzone></acrylic-file-dropzone>
            </div>
        </div>
    </div>
    <div class="p-3 bg-secondary radius-5 mt-4">
        <div class="row flex-column gap-2">
            <div class="col-12">
                <p class="fs-6 mb-1">Add Tracks</p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="acr-input-group">
                    <img ngSrc="assets/images/icons/search-info.svg" width="20" height="20">
                    <input type="text" placeholder="Search" class="w-100">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="light-gray-table-border rounded-2 table-responsive">
                    <table class="acrylic-table">
                        <thead>
                            <tr>
                                <th scope="col">Track Name</th>
                                <th scope="col">Tags</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(item of trackSyncList; track item) {
                            <tr>
                                <td>
                                    <div class="d-flex-align-center gap-2">
                                        <img [ngSrc]="item.trackImage" height="36" width="36" class="radius-5" />
                                        <span>{{ item.name }}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-2">
                                        @for(tag of item.tags; track tag) {
                                        <span class="bg-light-gray px-2 py-1 radius-5">{{ tag }}</span>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex-center">
                                        <input type="checkbox" class="acrylic-checkbox">
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="row gap-2">
            <div class="col-lg-6 col-12">
                <div class="d-flex-center">
                    <button class="btn btn-darkgrey px-4 px-lg-5 py-2 me-3" (click)="backProfile()">Back</button>
                    <button class="btn btn-info px-4 px-lg-5 py-2">Publish</button>
                </div>
            </div>
        </div>
    </div>
</section>