<nav class="navbar acr-box navbar-expand-md p-2">
    <div class="container-fluid ">
        <a class="navbar-brand">
            <img ngSrc="assets/images/logos/acrylic-white.png" width="125" height="30">
        </a>
        <button class="navbar-toggler bg-invert" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="row w-100 mt-md-0 mt-3">
                @if(_authService.IsLoggedIn()){
                    <div class="acr-input-group col-lg-5 col-12">
                        <img ngSrc="assets/images/icons/search-info.svg" width="20" height="20">
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="col-lg-7 col-12 d-flex justify-content-end align-items-center p-0 mt-lg-0 mt-2">
                        <!-- <div class="switch" title="Theme">
                            <input type="checkbox" id="custom-switch" (change)="toggleTheme()" [checked]="isDarkTheme">
                            <label for="custom-switch" class="slider"></label>
                        </div> -->
                        <!-- <span class="mx-2">|</span> -->
                        <button class="btn btn-sm btn-darkgrey" title="Notification">
                            <img ngSrc="assets/images/icons/bell.svg" width="17" height="17">
                        </button>
                        <span class="mx-2">|</span>
                        <button class="btn btn-sm btn-darkgrey" title="Sign Out" (click)="signOut();">
                            <img ngSrc="assets/images/icons/signout.svg" width="17" height="17">
                        </button>
                    </div>   
                }
                @else{
                    <div class="col-12 d-flex justify-content-end align-items-center p-0">
                        <button class="btn btn-darkgrey" (click)="redirectToSignUp();">
                            Sign Up
                        </button>
                        <button class="btn btn-main ms-2" (click)="redirectToSignIn();">
                            Sign In
                        </button>
                    </div>   
                }
            </div>
        </div>
    </div>
</nav>