<div class="acr-box">
    <div class="d-flex-justify-between">
        <h6 class="text-beige fw-semibold">{{ inquiryTitle }}</h6>
        <img ngSrc="/assets/images/others/beat.png" height="20" width="15" />
    </div>
    <div>
        @if(inquirySelect.title) {
            <p>{{ inquirySelect.title }}</p>
        }
        <acrylic-custom-dropdown [placeholder]="inquirySelect?.label" class="my-track-select-box"></acrylic-custom-dropdown>
        <span class="text-light-gray small">Lorem ipsum dolor sit amet consectetur.</span>
        <div class="input-with-label">
            <textarea rows="5" class="form-control acr-input mt-2 mb-3"
            [placeholder]="inquiryTextArea"></textarea>
        </div>
        <button class="btn w-100 btn-main fw-bold h-50px">{{ inquiryButton }}</button>
    </div>
</div>