<form [formGroup]="signInForm">
    <h1 class="auth-tagline">Welcome Back</h1>
    <ng-container>
        <div>
            <div class="acr-input-label">Username</div>
            <input type="text" [formControlName]="'username'" class="form-control acr-input"
                placeholder="Enter Username" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
        </div>

        <div class="my-3">
            <div class="d-flex-between">
                <div class="acr-input-label">Password</div>
                <a class="d-flex justify-content-end a-blue" (click)="_navigationService.navigateToForgotPassword();">
                    <small>
                        Forgot Password?
                    </small>
                </a>
            </div>

            <div class="acr-password">
                <input [type]="showPassword ? 'text' : 'password'" [formControlName]="'password'"
                    class="form-control acr-input" placeholder="Enter Password" autocomplete="off" readonly
                    onfocus="this.removeAttribute('readonly');">
                <img ngSrc="assets/images/icons/{{ showPassword ? 'eye-slash.svg' : 'eye.svg' }}" class="eye-icon"
                    width="16" height="16" (click)="showPassword = !showPassword">
            </div>
        </div>

        <div>
            <button type="button" class="btn w-100 btn-main fw-bold h-50px" [disabled]="signInForm.invalid"
                (click)="signIn()">Sign In
            </button>
        </div>
    </ng-container>

    <div class="d-flex-center my-3">
        <div class="line"></div>
        <div class="mx-3">Or</div>
        <div class="line"></div>
    </div>

    <div class="mt-2">
        <span>Don’t have an account?</span>
        <a class="a-blue ms-2" (click)="_navigationService.navigateToSignUp();">Sign Up</a>
    </div>

</form>