
.chart-box {
    background:  var(--secondary-color);
    padding: 16px;
    border-radius: 10px;
}

.box-holder {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 16px 0;
}

.box-holder .data-box {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 18px;
    border-radius: 0;

}

.data-box {
    background:  var(--secondary-color);
    border-radius: 10px;
    width: 280px;
}

.data-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

.data-date {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    margin-bottom: 6px;
}

.data-amount {
    font-size: 27px;
    font-weight: 700;
    display: flex;
    align-items: start;
}

.data-pnct {
    font-size: 12px;
    font-weight: 400;
    color: var(--success-color);
    margin-left: 4px;
    margin-top: 8px;
}
