<section>
    <div class="row">
        <div class="col-12">
            <div class="acr-box">
                <p class="mb-2">Preview Your Track</p>
                <div class="d-flex gap-2">
                    <img ngSrc="/assets/images/others/preview.svg" height="110" width="110" class="radius-5" />
                    <div class="d-flex flex-column">
                        <span>Track Name</span>
                        <span>Artist Name</span>
                        <span>2:43</span>
                        <div class="mt-3 d-flex gap-2">
                            <span class="bg-light-gray px-2 py-1 radius-5">Hip-Hop</span>
                            <span class="bg-light-gray px-2 py-1 radius-5">Synthwave</span>
                        </div>
                        <a href="" class="a-blue mt-2">Feel like the tags don’t match to the track?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="row gap-2">
            <div class="col-12">
                <div class="row justify-content-center gy-2">
                    <div class="col-md-5 col-12">
                        <button class="btn-darkgrey radius-5 w-100 py-3 light-gray-border">Back</button>
                    </div>
                    <div class="col-md-5 col-12">
                        <button class="btn-info radius-5 w-100 py-3 light-gray-border acrylic-next-button">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>