<div class="expanded-right license-theme" [ngClass]="'license-theme--' + theme">
  <h4 class="panel-section-title">Licensing</h4>

  <div
    class="licensing-box licensing-box--v2"
    [ngClass]="'licensing-box--' + theme">
    <div class="licensing-box__content">
      
      <div class="licensing-box__meta">
        <div class="licensing-included-label">{{ headline }}</div>
        <div class="licensing-included-sublabel">{{ subheadline }}</div>
      </div>

      <button
        type="button"
        class="btn-license btn-license--v2"
        [ngClass]="'btn-license--' + theme"
        (click)="licenseClick.emit()">
        {{ ctaLabel }}
      </button>
    </div>
  </div>

  <div class="restriction-row">
    <div class="restriction-badge">
      <img src="assets/images/icons/clock-alert.svg" alt="" class="restriction-icon" />
      <span>Archival Restriction: None</span>
    </div>
    <button class="btn-help">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M9 12.2V9M9 5.8H9.008M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="white" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </button>
  </div>

  <div class="restriction-row">
    <div class="restriction-badge">
      <img src="assets/images/icons/clock-alert.svg" alt="" class="restriction-icon" />
      <span>YouTube Restriction: None</span>
    </div>
    <button class="btn-help">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M9 12.2V9M9 5.8H9.008M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="white" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </button>
  </div>
</div>
