<div class="expanded-right">
  <h4 class="panel-section-title">Licensing</h4>

  <div style="border-radius: 10px;
    padding: 0px 6px 0px 0px;" class="licensing-box licensing-box--v2 licensing-box--preclear">
    <div class="divisor"></div>
    <div class="licensing-box__content">
      
      <div class="licensing-box__meta">
        <div class="licensing-included-label">$1,500</div>
        <div class="licensing-included-sublabel">PreClear Price</div>
      </div>

      <button class="btn-license btn-license--v2 btn-license--preclear">
        License for $1,500
      </button>
    </div>
  </div>

  <div class="restriction-row">
    <div class="restriction-badge">
      <img style="    height: 14px;
    margin-left: 8px;" src="assets/images/icons/clock-alert.svg" alt="Sign out" class="sidenav__icon" />
      <span>Archival Restriction: ABC</span>
    </div>
    <button class="btn-help">
      <img  style="    height: 14px;
    margin-left: 8px;"  src="assets/images/icons/help.png" alt="Sign out" class="sidenav__icon" />
    </button>
  </div>

  <div class="restriction-row">
    <div class="restriction-badge">
      <img  style="    height: 14px;
    margin-left: 8px;" src="assets/images/icons/clock-alert.svg" alt="Sign out" class="sidenav__icon" />
      <span>YouTube Restriction: ABC</span>
    </div>
    <button class="btn-help">
      <img src="assets/images/icons/help.png" alt="Sign out" class="sidenav__icon" />
    </button>
  </div>
</div>
