<!-- <section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="auth-card">
                    <div class="row g-0 bg-primary">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="assets/images/others/slider1.jpg" alt="slider" class="slider" />
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="h-100 text-center">
                                <div class="p-4">
                                    <form>
                                        <h2 class="auth-tagline">Create Your Account</h2>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->