<section>
    <div class="row gy-3 gx-2">
        <div class="col-lg-6 col-12">
            <div class="bg-secondary radius-5 p-3">
                <h6>Is it a cover or someone else’s song?</h6>
                <div class="bg-darkgrey w-100 radius-5 p-1">
                    <input type="radio" class="btn-check acrylic-radio " name="cover-song" id="cover-song"
                        autocomplete="off">
                    <label class="btn w-50 fw-semibold" for="cover-song">Yes</label>
                    <input type="radio" class="btn-check acrylic-radio " name="cover-song" id="not-cover-song"
                        autocomplete="off" checked>
                    <label class="btn w-50 fw-semibold" for="not-cover-song">No</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="bg-secondary radius-5 p-3">
                <h6>Is it a remix?</h6>
                <div class="bg-darkgrey w-100 radius-5 p-1">
                    <input type="radio" class="btn-check acrylic-radio " name="remix-song" id="remix-song"
                        autocomplete="off">
                    <label class="btn w-50 fw-semibold" for="remix-song">Yes</label>
                    <input type="radio" class="btn-check acrylic-radio " name="remix-song" id="not-remix-song"
                        autocomplete="off" checked>
                    <label class="btn w-50 fw-semibold" for="not-remix-song">No</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="bg-secondary radius-5 p-3">
                <h6>Is it an instrumental?</h6>
                <div class="bg-darkgrey w-100 radius-5 p-1">
                    <input type="radio" class="btn-check acrylic-radio " name="instrumental" id="instrumental"
                        autocomplete="off">
                    <label class="btn w-50 fw-semibold" for="instrumental">Yes</label>
                    <input type="radio" class="btn-check acrylic-radio " name="instrumental" id="not-instrumental"
                        autocomplete="off" checked>
                    <label class="btn w-50 fw-semibold" for="not-instrumental">No</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="bg-secondary radius-5 p-3">
                <h6>Does the song contain explicit lyrics?</h6>
                <div class="bg-darkgrey w-100 radius-5 p-1">
                    <input type="radio" class="btn-check acrylic-radio" name="explicit-lyrics" id="explicit-lyrics"
                        autocomplete="off">
                    <label class="btn w-50 fw-semibold" for="explicit-lyrics">Yes</label>
                    <input type="radio" class="btn-check acrylic-radio " name="explicit-lyrics" id="not-explicit-lyrics"
                        autocomplete="off" checked>
                    <label class="btn w-50 fw-semibold" for="not-explicit-lyrics">No</label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary radius-5 p-3">
                <div class="input-with-label w-100">
                    <label for="email-or-referral">Email of referral person? (Optional)</label>
                    <input type="text" id="email-or-referral" class="form-control mt-2 w-100" placeholder="Email"
                        autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary radius-5 p-3">
                <div class="input-with-label w-100">
                    <label for="artist-profile">Your Spotify Artist Profile URL</label>
                    <input type="text" id="artist-profile" class="form-control mt-2 w-100" placeholder="Email"
                        autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary radius-5 p-3">
                <div class="input-with-label w-100">
                    <label for="isrc-code">Your Track ISRC Code</label>
                    <input type="text" id="isrc-code" class="form-control mt-2 w-100" placeholder="Email"
                        autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary radius-5 p-3">
                <div class="input-with-label w-100">
                    <label for="distributor">Name Of Distributor Or Label Contact</label>
                    <input type="text" id="distributor" class="form-control mt-2 w-100" placeholder="Email"
                        autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="bg-secondary radius-5 p-3">
                <div class="input-with-label w-100">
                    <label for="distributor-email">Email Address Of Distributor Or Label Contact</label>
                    <input type="text" id="distributor-email" class="form-control mt-2 w-100" placeholder="Email"
                        autocomplete="off">
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="row gap-2">
            <div class="col-12">
                <div class="row justify-content-center gy-2">
                    <div class="col-md-5 col-12">
                        <button class="btn-darkgrey radius-5 w-100 py-3 light-gray-border">Back</button>
                    </div>
                    <div class="col-md-5 col-12">
                        <button class="btn-info radius-5 w-100 py-3 light-gray-border acrylic-next-button">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>