<div>
    <acrylic-custom-dropdown [title]="'Split Sheet'" [inputValue]="form.get('name')?.value" [values]="splitNames" (dropdownSelected)="dropdownSelected($event)"></acrylic-custom-dropdown>
</div>
<div class="mt-2">
    <p class="small">Don’t have a split sheet?  <span class="text-orange">Create one here</span></p>
</div>
<div class="acr-box mt-4">
    <div class="row">
        <div class="col-12">
            <p class="fs-6 mb-1">Splits</p>
        </div>
        <div class="col-lg-6 col-12">
            <div class="acr-box acr-sub-box">
                <p>Publishing Splits</p>
                <div>
                   <ul class="split-list list-group">
                        <li class="list-group-item border-0 text-info-success d-flex-justify-between bg-light-gray p-3">
                            <small>Name</small>
                            <small>%</small>
                        </li>
                        @for(item of connectSplit; track item) {
                            <li class="list-group-item border-0 d-flex-justify-between p-3 text-primary">
                                <span>{{ item.Name }}</span>
                                <span>{{ item.percentage }}</span>
                            </li>
                        }
                   </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="acr-box acr-sub-box">
                <p>Master Splits</p>
                <div>
                   <ul class="split-list list-group">
                        <li class="list-group-item border-0 text-info-success d-flex-justify-between bg-light-gray p-3">
                            <small>Name</small>
                            <small>%</small>
                        </li>
                        @for(item of connectSplit; track item) {
                            <li class="list-group-item border-0 d-flex-justify-between p-3 text-primary">
                                <span>{{ item.Name }}</span>
                                <span>{{ item.percentage }}</span>
                            </li>
                        }
                   </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gap-2 mt-4">
    <div class="col-12">
        <div class="row justify-content-center gy-2">
            <div class="col-lg-4 col-md-5 col-12 text-end">
                <button class="btn btn-darkgrey px-4 px-lg-5 py-2 light-gray-border">Cancel</button>
            </div>
            <div class="col-lg-4 col-md-5 col-12">
                <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border" [disabled]="!form.get('name')?.value" (click)="nextUploadStepper(2)">Next</button>
            </div>
        </div>
    </div>
</div>