<section>
    <!--this is edit and view mode--apply d-none class to hide and show-->
    @if(reveiwBtnClick) {
    <div class="split-sheet w-100 send-mode">
        <div class="acr-box mb-3">
            <div class="max-width-560">
                <div class="mb-20">
                    <div class="font-size12 mb-1 dart-color-txt-60">ISRC Code:</div>
                    <div class="font-size14">{{reviewObject.isrcCode}}</div>
                </div>

                <div class="split-pnct-box p-3 mb-3">
                    <div class="d-flex-align-center">
                        <div class="track-img radius-5"
                            style="background-image: url('../../../assets/images/others/track-bg.jpg');">

                        </div>
                        <div>
                            <div class="font-size14 font-weight-600">Track Name</div>
                            <div class="font-size14 font-weight-400">Artist Name</div>
                            <div class="font-size12 font-weight-400 dart-color-txt-50">2:43</div>
                        </div>
                    </div>
                </div>

                <div class="mb-20">
                    <div class="font-size12 mb-1 dart-color-txt-60">Email Address Of Distributor Or Label Contact</div>
                    <div class="font-size14">{{reviewObject.email}}</div>

                </div>

                <div class="acr-box mb-3 darkgrey-color-bg">
                    <div class="max-width-560">
                        <div class="font-size12 mb-1 dart-color-txt-60">Publishing Splits</div>
                        @for (item of reviewObject.publishing; let i = $index; track item)
                        {
                        <div class="row font-size14 mb-1">
                            <div class="col">
                                {{item.name}}
                            </div>
                            <div class="col">
                                {{item.email}}
                            </div>
                            <div class="col info-color-txt">
                                {{item.percentage}}%
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div class="acr-box mb-3 darkgrey-color-bg">
                    <div class="max-width-560">
                        <div class="font-size12 mb-1 dart-color-txt-60">Masters Splits</div>
                        @for (item of reviewObject.mastering; let i = $index; track item)
                        {
                        <div class="row font-size14 mb-1">
                            <div class="col">
                                {{item.name}}
                            </div>
                            <div class="col">
                                {{item.email}}
                            </div>
                            <div class="col info-color-txt">
                                {{item.percentage}}%
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="max-width-560 review-btn font-weight-600 mb-4">
            <div class="d-flex-align-center justify-content-center">
                <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border" (click)="backToSplitSheetForm()"> Back
                </button>
                <button class="btn btn-darkgrey px-4 px-lg-5 py-2 light-gray-border"
                    (click)="sendRequestToCreateSheet()"> Send </button>
            </div>
        </div>

    </div>
    } @else {
    <!--this is edit and view mode --- apply d-none class to hide and show-->
    <div class="split-sheet w-100 edit-view-mode">
        <form [formGroup]="createSplitSheetForm">
            <!-- ISRC -->
            <div class="acr-box mb-3">
                <div class="max-width-560">
                    <label class="acr-input-label">Your Track ISRC Code</label>
                    <input type="text" [formControlName]="'isrcCode'" class="form-control acr-input mb-2 w-100"
                        placeholder="ISRC Code" autocomplete="off">
                </div>
            </div>

            <!-- Image Track -->
            <div class="acr-box mb-3">
                <div class="max-width-560">
                    <div class="split-pnct-box p-3">
                        <div class="d-flex-align-center">
                            <div class="track-img radius-5"
                                style="background-image: url('../../../assets/images/others/track-bg.jpg');">

                            </div>
                            <div>
                                <div class="font-size14 font-weight-600">Track Name</div>
                                <div class="font-size14 font-weight-400">Artist Name</div>
                                <div class="font-size12 font-weight-400 dart-color-txt-50">2:43</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- EMail -->
            <div class="acr-box mb-3">
                <div class="max-width-560">
                    <acrylic-custom-dropdown [title]="'Name Of Distributor Or Label Contact'"
                        [inputValue]="createSplitSheetForm.get('email')?.value" [values]="distributors"
                        (dropdownSelected)="dropdownSelected($event)"></acrylic-custom-dropdown>
                </div>
            </div>

            <!-- Publish -->
            @if (publishing) {
            <div class="acr-box mb-3" formArrayName="publishing">
                <div class="max-width-560">
                    <div class="font-size16 font-weight-600 mb-3">Publishing Splits</div>
                    @for (publishingGroup of publishing.controls; let i = $index; track publishingGroup)
                    {
                    <div class="d-flex align-items-start mb-3" [formGroupName]="i">
                        <div class="w-35 me-2">
                            <div>
                                <!-- <span class="input-lbl">Full Name</span> -->
                                <input type="text" formControlName="name" class="form-control acr-input mb-2 w-100"
                                    placeholder="Full Name" autocomplete="off">
                            </div>
                        </div>
                        <div class="w-75 me-2">
                            <div>
                                <!-- <span class="input-lbl">Email</span> -->
                                <input type="text" formControlName="email" class="form-control acr-input mb-2 w-100"
                                    placeholder="Email" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-input split-pnct-box">
                            <div
                                class="font-size14 font-weight-400 min-height-50 d-flex-align-center justify-content-center width-80">
                                <input type="text" formControlName="percentage" class="form-control" step=".01">
                                <span class="info-color-txt">%</span>
                            </div>
                        </div>
                    </div>
                    }

                    <!-- <div class="d-flex align-items-start">
                    <div class="w-35 me-2">
                        <div class="input-with-lbl">
                            <span class="input-lbl">Full Name</span>
                            <input type="text" value="Sikander" class="form-control mb-2 w-100" placeholder="Full Name"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="w-75 me-2">
                        <div class="input-with-lbl">
                            <span class="input-lbl">Email</span>
                            <input type="text" value="sikander@hotmail.com" class="form-control mb-2 w-100"
                                placeholder="Email" autocomplete="off">
                        </div>
                    </div>
                    <div class="split-pnct-box">
                        <div
                            class="font-size14 font-weight-400 min-height-50 d-flex-align-center justify-content-center">
                            <span class="me-1">100</span><span class="info-color-txt">%</span>
                        </div>
                    </div>
                </div> -->
                    <div class="py-2" (click)="addPublishingSheet()">
                        <div class="progress my-4" role="progressbar" aria-label="Basic example" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%">
                                <div class="plus-icon">
                                    <span><img src="assets/images/icons/plus.svg" width="20" height="20"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><span class="dart-color-txt-30 me-1">Total:</span> <span>{{total}}%</span></div>
                </div>
            </div>
            }
            <!-- Master -->
            @if (mastering) {
            <div class="acr-box mb-3" formArrayName="mastering">
                <div class="max-width-560">
                    <div class="font-size16 font-weight-600 mb-3">Masters Splits</div>
                    @for (masteringGroup of mastering.controls; let i = $index; track masteringGroup)
                    {
                    <div class="d-flex align-items-start mb-3" [formGroupName]="i">
                        <div class="w-35 me-2">
                            <div>
                                <!-- <span class="input-lbl">Full Name</span> -->
                                <input type="text" formControlName="name" class="form-control acr-input mb-2 w-100"
                                    placeholder="Full Name" autocomplete="off">
                            </div>
                        </div>
                        <div class="w-75 me-2">
                            <div>
                                <!-- <span class="input-lbl">Email</span> -->
                                <input type="text" formControlName="email" class="form-control acr-input mb-2 w-100"
                                    placeholder="Email" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-input split-pnct-box">
                            <div
                                class="font-size14 font-weight-400 min-height-50 d-flex-align-center justify-content-center width-80">
                                <input type="text" formControlName="percentage" class="form-control">
                                <span class="info-color-txt">%</span>
                            </div>
                        </div>
                    </div>
                    }


                    <div class="py-2" (click)="addMasterSheet()">
                        <div class="progress my-4" role="progressbar" aria-label="Basic example" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%">
                                <div class="plus-icon">
                                    <span><img src="assets/images/icons/plus.svg" width="20" height="20"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><span class="dart-color-txt-30 me-1">Total:</span> <span>{{total}}%</span></div>
                </div>
            </div>
            }

            <!-- Review -->
            <div class="max-width-560 review-btn font-weight-600 mb-4">
                <div class="d-flex-align-center justify-content-center">
                    <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border me-2" (click)="navigateToHome()">
                        Back
                    </button>
                    <button class="btn btn-darkgrey px-4 px-lg-5 py-2 light-gray-border" (click)="reviewSheet()"
                        [disabled]="createSplitSheetForm.invalid"> Review </button>
                </div>
            </div>
        </form>

    </div>
    }
</section>