.diego-img {
    top: calc(-100% + 60%);
}

.pinned-sync-box {
    height: 170px;
    .pinned-sync-back {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .pinned-sync-gradient-layer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: var(--default-gradient-gray-background-color);
        }
        .pinned-sync-content {
            position: relative;
            z-index: 1;
        }
    }
}