<section>
    <div class="row gy-3">
        <div class="col-12">
            <acrylic-file-dropzone [fileDropzoneIcon]="UploadFileTextDetails[2].fileDropzoneIcon"
                [fileDropzoneHeader]="UploadFileTextDetails[2].fileDropzoneHeader"
                [fileDropzoneExternalLink]="UploadFileTextDetails[2].fileDropzoneExternalLink"
                [existingFiles]="[form.get('snippet')?.value]"
                [allowExtensions]="['mp4']"
                [accept]="'.mp4'"
                (uploadedFileList)="setUploadFile('snippet', $event)"></acrylic-file-dropzone>
        </div>
        <div class="col-12">
            <acrylic-file-dropzone [fileDropzoneIcon]="UploadFileTextDetails[0].fileDropzoneIcon"
                [fileDropzoneHeader]="UploadFileTextDetails[0].fileDropzoneHeader"
                [existingFiles]="[form.get('file_wav')?.value]"
                [allowExtensions]="['wav']"
                [accept]="'.wav'"
                (uploadedFileList)="setUploadFile('file_wav', $event)"></acrylic-file-dropzone>
        </div>
        <div class="col-12">
            <acrylic-file-dropzone [fileDropzoneIcon]="UploadFileTextDetails[1].fileDropzoneIcon"
                [fileDropzoneHeader]="UploadFileTextDetails[1].fileDropzoneHeader"
                [fileDropzoneSize]="UploadFileTextDetails[1].fileDropzoneSize"
                [existingFiles]="[form.get('cover_image')?.value]"
                [allowExtensions]="['jpg']"
                [accept]="'.jpg'"
                (uploadedFileList)="setUploadFile('cover_image', $event)"></acrylic-file-dropzone>
        </div>
    </div>
    <div class="my-4">
        <div class="row gap-2">
            <div class="col-12">
                <div class="row justify-content-center gy-2">
                    <div class="col-md-5 col-12 text-end">
                        <button class="btn btn-darkgrey px-4 px-lg-5 py-2 light-gray-border"
                            (click)="nextUploadStepper(2)">Back</button>
                    </div>
                    <div class="col-md-5 col-12">
                        <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border"
                            (click)="nextUploadStepper(4)" [disabled]="!form.get('snippet')?.value || !form.get('file_wav')?.value || !form.get('cover_image')?.value">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>