@use '../variables/variables' as *;
@use '../custom/fonts' as *;

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: var(--text-color);
    overflow-x: hidden;
}

.bg-primary-gradient {
    background: var(--primary-radial-gradient-color);
}

.acr-box {
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 12px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}