@use '../variables/variables' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 10px;
    // background: var(--primary-color);
    font-size: 14px;
    color: var(--text-color);
    overflow-x: hidden;
}

.bg-primary-gradient {
	background: radial-gradient(circle, rgba(84, 191, 187, 1) 0%, rgba(13, 66, 153, 1) 2%, rgba(9, 18, 23, 1) 100%) !important;
}

.acr-box {
    background: var(--secondary-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

path{
    fill: var(--text-color) !important;
}