@font-face {
    font-family: 'Inter';
    src: url('../../../assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../../../assets/fonts/Inter/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Glacial IndifferenceNormal';
    src: url('../../../assets/fonts/Inter/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ProximaNova';
    src: url('../../../assets/fonts/Inter/ProximaNovaExtrabold.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
