<section>
    <div class="row row-cols-lg-5 row-cols-md-3 row-cols-1 g-3">
        <div class="col">
            <div class="acr-box acr-ibox">
                <h6>Most Used Track</h6>
                <div>
                    <img ngSrc="/assets/images/others/falling.png" height="36" width="36" class="radius-5" />
                    <span class="ms-2">Falling</span>
                </div>
                <div class="mt-2">
                    <span>45,567 Uses</span>
                    <span class="text-success ps-1">+11.43%</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="acr-box acr-ibox">
                <h6>Most Used Track</h6>
                <div class="d-flex gap-2">
                    <span class="bg-light-gray px-2 py-1 radius-5">Lo-Fi</span>
                    <span class="bg-light-gray px-2 py-1 radius-5">Happy</span>
                    <span class="bg-light-gray px-2 py-1 radius-5">Cooking</span>
                </div>
                <div class="mt-2">
                    <span>34,756 searches</span>
                    <span class="text-success ps-1">+8.34%</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="acr-box acr-ibox">
                <h6>Total All Time Uses</h6>
                <div class="text-light-gray">
                    <span>Jan 22, 2023 - </span>
                    <span>Mar 1, 2024 </span>
                </div>
                <div class="mt-2">
                    <span class="h4 fw-bold">549K</span>
                    <span class="text-success ps-1">+0.23%</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="acr-box acr-ibox">
                <h6>Total Monthly Uses</h6>
                <div class="text-light-gray">
                    <span>Jan 22, 2023 - </span>
                    <span>Mar 1, 2024 </span>
                </div>
                <div class="mt-2">
                    <span class="h4 fw-bold">47,8</span>
                    <span class="text-success ps-1">+5.7%</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="acr-box acr-ibox">
                <h6>Total All Time Uses</h6>
                <div class="text-light-gray">
                    <span>Feb 29 - </span>
                    <span>Mar 1, 2024 </span>
                </div>
                <div class="mt-2">
                    <span class="h4 fw-bold">11,2K</span>
                    <span class="text-success ps-1">+34.9%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="acr-box mt-4">
        <div class="row mb-3">
            <div class="col-xxl-4 col-xl-3 col-md-6">
                <div class="acr-input-group" [formGroup]="searchForm">
                    <img ngSrc="assets/images/icons/search-info.svg" width="20" height="20">
                    <input type="text" formControlName="searchText" class="w-100"
                        placeholder="Search for a specific track" (input)="searchChanges()">
                </div>
            </div>
            <div class="col-xxl-8 col-xl-9 col-md-6 d-flex justify-content-end">
                <button class="btn me-1 btn-info" (click)="_navigationService.navigateToUploadTrack()">Upload
                    Track</button>
            </div>
        </div>
        <div class="light-gray-table-border rounded-2 table-responsive">
            <table class="acrylic-table">
                <thead>
                    <tr>
                        <th scope="col">Track Name</th>
                        <th scope="col">Assigned Tags</th>
                        <th scope="col">Price Tag</th>
                        <th scope="col">Popular Tags</th>
                        <th scope="col">Release Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of trackList; track item) {
                    <tr>
                        <td>
                            <div class="d-md-flex align-items-md-center gap-2">
                                <img [src]="item.cover_image" height="36" width="36" class="radius-5" />
                                <div>
                                    <p class="m-0">{{ item.name }}</p>
                                    <small>{{ item.isrc }}</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                @for(assignedTag of item.tags; track assignedTag) {
                                <span class="bg-light-gray px-2 py-1 radius-5">{{ assignedTag.name }}</span>
                                }
                            </div>
                        </td>
                        <td class="text-nowrap">
                            @if (item.price) {
                            <div class="clip-path-tag radius-5 p-2 d-flex-align-center gap-2"
                                [class.bg-lightgray-border]="item.price.name == 'Basic'"
                                [class.bg-blue]="item.price.name == 'Premium'">
                                <img [ngSrc]="'assets/images/others/beat.png'" height="20" width="15" />
                                <span>{{ item.price.name }}</span>
                                <span class="d-inline-block height-15px width-15px bg-secondary rounded-circle"></span>
                            </div>
                            }
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                @for(popularTag of item.genres; track popularTag) {
                                <span class="bg-light-gray px-2 py-1 radius-5">{{ popularTag.name }}</span>
                                }
                            </div>
                        </td>
                        <td>
                            <span>{{ item.released }}</span>
                        </td>
                        <td class="text-end">
                            @if (!item.price || (item.price && !item.price.active)) {
                            <button class="btn btn-sm btn-warning me-md-3 me-2"
                                (click)="openTrack(item.uuid, true)">Assign Price</button>
                            }
                            <button class="btn btn-sm btn-acrylic" (click)="openTrack(item.uuid)">Edit Track</button>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td class="text-center" colspan="7">
                            No data available
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>