@use '../variables/variables' as *;

.acr-input:-webkit-autofill,
.acr-input:-webkit-autofill:hover, 
.acr-input:-webkit-autofill:focus {
    transition: all 5000s ease-in-out 0s;
    background-color: currentColor !important;
    color: currentColor !important;
}

.acr-input-group {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--darkgrey-color);
}

.acr-input-group input {
    border: none;
    outline: none;
    background-color: var(--darkgrey-color);
    color: var(--text-color);
    padding-left: 8px;
}

.acr-input {
    border: none;
    outline: none;
    height: 50px;
    background-color: var(--darkgrey-color);
    box-shadow: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.acr-input::placeholder {
    color: var(--text-color);
    opacity: 0.3;
}

.acr-input-label {
    text-align: left;
    margin: 4px;
}

.acr-password {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 16px;
    top: 35%;
    cursor: pointer;
}

.input-with-label {
    position: relative;
}

.input-label {
    position: absolute;
    color: var(--text-color);
    opacity: 0.3;
    left: 16px;
    top: 15px;
    line-height: normal;
    letter-spacing: .5px;
    transition:0.2s ease all; 
    pointer-events: none;
}

.acr-input {
    &:focus,
    &:not(:placeholder-shown):valid {
        ~ .input-label {
            top: -8px;
            opacity: 1;
            background-color: var(--secondary-color);
        }
    }
}

// .input-with-label input[type="text"],
// .input-with-label input[type="password"],
// .input-with-label textarea {
//     border: 0;
//     height: 50px;
//     background-color: var(--darkgrey-color);
//     box-shadow: none;
//     color: var(--text-color);
// }

// .input-with-label input[type="text"]::placeholder,
// .input-with-label input[type="password"]::placeholder,
// .input-with-label textarea::placeholder {
//     color: var(--text-color);
//     opacity: 0.3;
//     font-size: 14px;
//     font-weight: 400;
// }

// .input-with-label .success input[type="text"],
// .input-with-label .success input[type="password"],
// .input-with-label .success textarea {
//     border: 1px solid var(--info-color);
// }

// .input-with-label .success .input-label,
// .input-with-label .success .input-label {
//     color: var(--info-color);
// }

// .input-with-label .error input[type="text"],
// .input-with-label .error input[type="password"],
// .input-with-label .error textarea {
//     border: 1px solid var(--danger-color);
// }

// .input-with-label .error .input-label,
// .input-with-label .error .input-label {
//     color: var(--danger-color);
// }

// .input-with-label textarea {
//     height: 110px;
// }

// .input-with-label textarea {
//     resize: none;
// }

input[type=checkbox].acrylic-checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px solid var(--light-gray-border-color);
    border-radius: 5px;
}

input[type="checkbox"].acrylic-checkbox::before {
    content: "";
    width: 24px;
    height: 24px;
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    transform: scale(0);
    background-color: var(--info-color);
}

input[type=checkbox].acrylic-checkbox:checked::before {
    transform: scale(1.2);
}

input[type=radio].acrylic-radio {
    &:checked {
        +label {
            background: var(--default-gradient-color);
            color: var(--primary-color);
        }
    }
    &:not(:checked) {
        +label {
            color: var(--text-color);
        }
    }
}

.acrylic-select {
    .select-down-arrow {
        background-image: url('/assets/images/icons/down-arrow.svg');
        background-repeat: no-repeat;
        margin-bottom: -8px;
    }
        
    .content .acrylic-select-options {
        max-height: 250px;
    }
    
    .acrylic-select-options li:hover,
    li.selected {
        background-color: var(--light-gray-border-color);
    }
    
    .acrylic-select-options::-webkit-scrollbar {
        display: none;
    }
    
    .acrylic-select-options {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

}
