.chart-holder {
    margin: 16px 0;
}

.filters-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters-options-right{
    display: flex;
    align-items: center;
}

@media(max-width:530px){
    .filters-options,
    .filters-options-right{
        flex-wrap: wrap;
    }
    .filters-options > div,
    .filters-options-right > div{
        width: 100%;
        margin-right: 0 !important;
    }
    .filters-options .default-dropdown{
        margin-bottom: 10px;
    }
}
@media(max-width:768px){
    .transaction .box-holder {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .transaction .box-holder .data-box{
        margin-bottom: 8px;
        width: 100%;
    }
}

.track-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 12px;
    padding: 0 16px;
    background: rgba(255, 255, 255, 0.1);
}

li:nth-child(even){
    background-color: var(--light-gray-background-color);
}

