<section>
    <div class="acr-box mt-4">
        <div class="row g-2 mb-2">
            <div class="col-xxl-4 col-xl-3">
                <div class="acr-input-group">
                    <img src="assets/images/icons/search-info.svg" width="16" height="16">
                    <input type="text" placeholder="Search for a specific track">
                </div>
            </div>
        </div>
        <div class="light-gray-table-border rounded-2 table-responsive mt-4">
            <table class="acrylic-table">
                <thead>
                    <tr>
                        <th scope="col">Track Name</th>
                        <th scope="col">Status</th>
                        <th scope="col" width="70"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of splitSheets; track item) {
                        <tr>
                        <td>
                            <div class="d-flex-align-center">
                                <div>
                                    <img src="assets/images/others/track-bg.jpg" height="36" width="36"
                                        class="radius-5" />
                                </div>
                                <div class="ms-2">
                                    <span class="d-block">{{ item.track_name }}</span>
                                    <span class="text-light-gray small"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="tb-pill">Pending</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-darkgrey light-gray-border" (click)="goToPreview(item.track)">
                                <img src="assets/images/icons/eye.svg" alt="side_icon" width="16" height="16">
                            </button>
                        </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td class="text-center" colspan="3">
                                No data available
                            </td>
                        </tr>
                    }
                    <!-- <tr>
                        <td>
                            <div>
                                <div class="d-flex-align-center">
                                    <div>
                                        <img src="assets/images/others/track-bg.jpg" height="36" width="36"
                                            class="radius-5" />
                                    </div>
                                    <div class="ms-2">
                                        <span class="d-block">track1</span>
                                        <span class="text-light-gray small">track1</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="tb-pill text-danger info-bg-danger">Rejected</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-darkgrey light-gray-border">
                                <img src="assets/images/icons/eye.svg" alt="side_icon" width="16" height="16">
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <div class="d-flex-align-center">
                                    <div>
                                        <img src="assets/images/others/track-bg.jpg" height="36" width="36"
                                            class="radius-5" />
                                    </div>
                                    <div class="ms-2">
                                        <span class="d-block">track1</span>
                                        <span class="text-light-gray small">track1</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="tb-pill text-success info-bg-success">Approved</span>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-darkgrey light-gray-border">
                                <img src="assets/images/icons/eye.svg" alt="side_icon" width="16" height="16">
                            </button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>