<section>
    <div>
        <div class="row">
            <div class="col-lg-7 col-12">
                @switch (activeStepper) {
                    @case(1) {
                        <acrylic-upload-step-1></acrylic-upload-step-1>
                    }
                    @case(2) {
                        <acrylic-upload-step-2></acrylic-upload-step-2>
                    }
                    @case(3) {
                        <acrylic-upload-step-3></acrylic-upload-step-3>
                    }
                    @case(4) {
                        <acrylic-upload-step-4></acrylic-upload-step-4>
                    }
                    @case(5) {
                        <acrylic-upload-step-5></acrylic-upload-step-5>
                    }
                }
            </div>
            <div class="col-lg-5 col-12">
                <div class="bg-secondary p-3 radius-5">
                    <ul class="list-group">
                        @for(item of uploadStepperList; track item) {
                            <li class="list-group-item bg-transparent light-gray-border d-flex align-items-center gap-2 cursor-pointer"
                            (click)="uploadStepper($index + 1)" [ngClass]="{'current-active-stepper': activeStepper === $index + 1, 'completed-step': activeStepper > $index + 1}"> 
                               <span class="d-flex justify-content-center align-items-center text-secondary fw-bold">{{ $index + 1 }}</span>
                               {{ item }}
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>