<section class="auth-club-layout">
  <div class="auth-club-layout__panel auth-club-layout__panel--promo">
    <div class="auth-club-layout__promo">
      <div class="auth-club-layout__promo-art">
        <img
          class="auth-club-layout__promo-image"
          [src]="promoImageSrc"
          [alt]="promoImageAlt" />
      </div>
      <div class="auth-club-layout__promo-tagline">{{ promoTagline }}</div>
    </div>
  </div>
  <div class="auth-club-layout__panel auth-club-layout__panel--dark">
    <div class="auth-club-layout__content">
      <router-outlet />
    </div>

    <img src="../../../../assets/images/clubs/gdl/chivas.png" alt="">

  </div>
</section>
